@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
    background-color: rgb(39, 37, 37);
    color: #FFFFFF;
    text-align: center;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 2em;
    text-align: center;
    
}

a {
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-size: 0.9em;
    
}